# TURSO DB ========
TURSO_DATABASE_URL="libsql://tursourl"
TURSO_AUTH_TOKEN="somesecretlongkey"

# Secret key for authentication. (You can use Online UUID generator: https://www.uuidgenerator.net)
BETTER_AUTH_SECRET="some_secret_key"
# Github OAuth App ID & Secret see https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
# List of emails that will be given all roles. (comma separated)
SUPER_ADMIN_EMAILS=

# R2 Cloudflare ========
R2_ENDPOINT=https://6a115e64989fab8a02a23664913fabcd.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=r2_key_id
R2_SECRET_ACCESS_KEY=r2_secret_access_key
R2_BUCKET_NAME=bucket_name
R2_REGION=region
R2_TOKEN=r2_token

RUNTIME_ENV=development

ORIGIN=http://localhost:3000
# Adapted for platform: node | vercel
ADAPTER=node
